* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.displayCard{

    background-image: linear-gradient(135deg, rgba(40,50,60,1), rgba(11, 18, 24, 1));
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 30px;
    padding-top: 10px;
    margin: 5px;
    min-width: 360px;
    min-height: max-content;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 10px;
    box-shadow: inset 1px 2.5px 5px rgba(255, 255, 255, 0.08),
                inset -1px -1px 3px rgba(255, 255, 255, 0.01),
                0 3px 3px rgba(0, 0, 0, 0.6);
}

.displayCard.header-card{
    position: fixed;
    z-index: 2;
    top : calc(0vh - 10px);
    min-width: 360px;
    width: 80px;
    height: 80px;
}

body{
    background: rgba(9, 16, 24, 1);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
}

.row-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

    height: 100%;
    width:  100%;
}

.column-flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.background-blur{
    width: 100vw;
    height : 300vh;
    left : 50%;
    right: 50%;
    margin-top: -150vh;
    margin-left : -50vw;
    z-index: 10;
    background-color : rgba(0,0,0,0.4);
    backdrop-filter : blur(3px);
    position : fixed;
}