.footer-card{
    position: fixed;
    bottom: calc(0vh - 10px);
    z-index: 3;
    background-image: linear-gradient(135deg, rgba(60,70,80,1), rgba(31, 38, 44, 1));
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 30px;
    padding-top: 10px;
    margin: 5px;
    min-width: 360px;
    min-height: max-content;
    width: 80px;
    height: 80px;
    overflow: auto;
    display: flex;
    
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 10px;
    box-shadow: inset 1px 2.5px 5px rgba(255, 255, 255, 0.08),
                inset -1px -1px 3px rgba(255, 255, 255, 0.01),
                0 3px 3px rgba(0, 0, 0, 0.6);
}